body {
  background-color: lightblue;
}

h1 {
  color: grey;
  text-align: center;
}
a {
	color: Grey;
	text-decoration: none;
	
p {
	color: grey;
  font-size: 18px;
}
header {
	background-color: lightblue;
	position:fixed;
   top: 0;
   left: 0;
   width: 100%;
}

